{
    "parserOptions": {
        "ecmaVersion": 7,
        "sourceType": "module"
    },
    "env": {
        "node": true
    },
    "rules": {
        "semi": 0,
        "indent": ["error", 2],
        "no-undef": 2,
        "comma-dangle": [2, "always-multiline"]
    }
}
